<!DOCTYPE html>
<html lang="UTF-8">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../static/css/home.css">
		<title>About Us - BBL Expense Tracker</title>
	</head>

	<body>
		<!-- Header -->
		<section id="header">
			<div class="header container">
				<div class="nav-bar">
					<div class="brand">
						<h1><span>B</span>B<span>L </span>Expense Tracker</h1>
					</div>
					<div class="nav-list">
						<div class="hamburger">
							<div class="bar"></div>
						</div>
						<ul>
							<li><a href="/" data-after="Home">Home</a></li>
							<li><a href="login" data-after="Login">-Login-</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--End Header -->

		<!-- About Section -->
		<section id="about">
			<div class="about container">
				<div class="co>
				</div>
				<div class="col-right">
					<h1 class="section-title">About <span>Us</span></h1>
					<h2>Expense Tracking Simplified</h2>
					<p>Th Expense Tracker aims to address the challenge of managing personal finances efficiently by providing you with a simple and intuitive tool to track your daily expenses. Many individuals struggle with keeping track of their spending habits and budgeting effectively, leading to financial stress and uncertainty. BBL Expense Tracker seeks to alleviate this problem by offering a convenient solution for recording expenses, analyzing spending patterns, and setting budgetary goals.</p>
					<h1>Find Us On:</h1>
					<ul>
						<li><a href="https://github.com/Buchiken11/alx-expense-tracker-project" target="_blank">GitHub Repository</a></li>
						<li><a href="https://www.linkedin.com/in/buchiken/" target="_blank">Developer's LinkedIn</a></li>
					</ul>
					<a href="#footer" class="cta">Connect</a>
				</div>
			</div>
		</section>
		<!-- End About Section -->

		<!-- Footer -->
		<section id="footer">
			<div class="footer container">
				<div class="brand">
					<h1><span>B</span>B<span>L </span>Expense Tracker</h1>
				</div>
				<h2>Your Perfect Expense</h2>
				<div class="social-icon">
					<div class="social-item">
						<a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
							         </div>
				</div>
				<div class="social-item">
					<a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
				</div>
				<div class="social-item">
					<a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
				</div>
			</div>
			<p>Copyright © 2024 BBL. All rights reserved</p>
			</div>
			<!-- End Footer -->
	</body>
</html>
